@font-face {
  font-family: 'FuturaLightC';
  src: url('../fonts/FuturaLightC.woff') format('woff'),
       url('../fonts/FuturaLightC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaLightC-italic';
  src: url('../fonts/FuturaLightC-Italic.woff') format('woff'),
       url('../fonts/FuturaLightC-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
*{
  box-sizing: border-box;
}
.container{
  max-width: 1336px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}
.title{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  color: #4B667C;
}
.button{
  font-family: 'FuturaLightC';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: rgba(217, 152, 106, 1);
  height: 65px;
  width: 285px;
  border: 1px solid #D9986A;
  background-color: transparent;
  transition: 0.5s;
}
.button:hover{
  background-color: #D9986A;
  color: #FFFFFF;
}
.mobile-nav{
  display: none;
}
.mobile-menu{
  display: none;
}
/* Header */

.header{
  width: 100%;
  height: 948px;
}
.header__bg1{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/Header/header1.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 846px;
  width: 44.0625%;
  object-fit: cover;
  height: 948px;
}
.header__section{
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  justify-content: flex-start;
  padding-top: 31px;
  width: 517px;
  max-width: 39.81623277%;
  height: 948px;
  max-height: 100%;
  margin-right: 201px;
  margin-left: auto;
}
.header__heading{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 176px;
}
.header__logo{
  max-width: 110px;
  flex-basis: 21.2765957%;
}
.header__phone{
  max-width: 231px;
  width: 44.6808%;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  margin-top: 25px;
  color: #3C3C3C;
}
.header__title{
  color: #4B667C;
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 48px;
  line-height: 73px;
  margin-bottom: 20px;
}
.header__subtitle{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #3C3C3C;
  margin-bottom: 63px;
}
.header__sidebar1{
  background-image: url(../img/Header/sidebar1.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 22.3%;
  max-width: 428px;
  height: 642px;
}
.header__sidebar2{
  background-image: url(../img/Header/sidebar2.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  top: 642px;
  right: 0;
  width: 22.3%;
  max-width: 428px;
  height: 382px;
}

/* Header menu */

.menu{
  width: 100%;
  height: 76px;
  background-color: #D9986A;
}
.menu__wrapper{
  height: 100%;
  display: flex;
}
.header__menu_fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.menu__links{
  display: flex;
  align-items: center;
  margin: auto auto auto 5.13%;
  width: 66.61562%;
  align-self: center;
}
.menu__item{
  display: inline-block;
  margin-left: 50px;
}
.menu__item:first-child{
  margin-left: 0;
}
.menu__item::before{
  visibility: hidden;
  content: "";
  position: absolute;
  width: 76px;
  height: 14px;
  background-image: url(../img/Header/before.svg);
  background-repeat: no-repeat;
  top: -10px;
  left: -10px;
}
.menu__item::after{
  visibility: hidden;
  content: "";
  position: absolute;
  transform: rotate(180deg);
  width: 76px;
  height: 14px;
  background-image: url(../img/Header/before.svg);
  background-repeat: no-repeat;
  bottom: -10px;
  right: -10px;
}
.menu__item:hover::before{
  visibility: visible;
}
.menu__item:hover::after{
  visibility: visible;
}
.menu__link{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

/* Features */

.features{
  width: 100%;
  height: 864px;
  padding-top: 100px;
}
.features__container{
  width: 100%;
  display: flex;
  height: 669px;
  justify-content: space-between;
}
.features__left-column{
  max-width: 482px;
  width: 36.9%;
  height: 100%;
}
.features__title{
  margin-bottom: 45px;
}
.features__item{
  margin-bottom: 60px;
}
.fetures__item-heading{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.features__subtitle{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #3C3C3C;
  margin-left: 20px;
}
.features__subtitle-3{
  margin-left: 30px;
}
.features__description{
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #3C3C3C;
  margin-left: 60px;
}
.features__img{
  max-width: 769px;
  width: 58.882%;
  height: auto;
  object-fit: cover;
}

/* Offers */

.offers{
  padding-top: 98px;
  width: 100%;
  height: 1028px
}
.offers__title{
  margin-bottom: 63px;
}
.arrow{
  background-image: url(../img/Offers/Arrow.png);
  background-repeat: no-repeat;
  width: 137px;
}
.swiper-container-s1{
  height: 795px;
}
.swiper-slide{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.swiper-right-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30.9119%;
  margin-top: 100px;
  height: 561px;
}
.swiper-slide__img-container{
  max-width: 800px;
  width: 61.8238%;
}
.swiper-slide__img{
  width: 100%;
  object-fit: cover;
}
.swiper-slide__upper{
  text-transform: uppercase;
  font-family: 'FuturaLightC';
  font-weight: 300;
  font-size: 90px;
  line-height: 99px;
  text-transform: uppercase;
  color: rgba(217, 152, 106, 0.5);
}
.swiper-slide__lower{
  font-family: 'FuturaLightC';
  font-weight: 300;
  font-size: 90px;
  line-height: 150%;
  text-transform: uppercase;
  color: rgba(217, 152, 106, 0.5);
}
.list1, .list2, .list3{
  list-style: disc;
}
.list__item{
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: 18px;
  line-height: 250%;
  color: #000000;
}
.list__item-2{
  line-height: 220%;
}
.list__item-3{
  line-height: 200%;
}
.slider-pagination{
  width: 110px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.slider-bullet{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #F7E9DF;
  border-radius: 50%;
  margin-left: 25px;
}
.slider-bullet:first-child{
  margin-left: 0;
}
.slider-bullet-active{
  width: 20px;
  height: 20px;
  background-color: #ECCCB5;
  border-radius: 50%;
}

/* Calculation */

.calculation{
  padding-top: 191px;
  padding-bottom: 156px;
}
.calculation__form{
  max-width: 735px;
  width: 56.2787%;
}
.calculation__container{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.calculation__title{
  margin-bottom: 46px;
}
.form__inputs{
  display: flex;
  max-width: 735px;
  width: 100%;
}
.form__paragraph{
  max-width: 312px;
  width: 42.448979%;
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa';
  font-weight: 300;
  font-size: 13px;
  line-height: 14px;
  color: #3C3C3C;
  margin-top: 35px;
}
.form__paragraph_left{
  margin-right: 40px;
}
.form__input{
  max-width: 312px;
  width: 100%;
  height: 45px;
  border: 1px solid #3C3C3C;
  background-color: transparent;
  margin-top: 5px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #4B667C;
}
.form__button{
  max-width: 312px;
  width: 100%;
  height: 64px;
  background-color: #4B667C;
  border: 1px solid #4B667C;
  font-family: 'FuturaLightC';
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  transition: 0.2s;
}
.form__button:hover{
  background: #2A465C;
  border: 1px solid #2A465C;
}
option{
  margin-top: 22px;
}
.gallery{
  max-width: 541px;
  width: 41.424196%;
}
.swiper-container-s2{
  max-width: 541px;
}
.gallery__image{
  max-width: 541px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* faq */

.faq{
  width: 100%;
  height: 793px;
}
.faq__container{
  width: 100%;
  height: 793px;
  background-image: url(../img/faq/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.faq__content{
  padding-top: 166px;
  width: 100%;
}
.faq-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.faq-row:first-child{
  margin-bottom: 65px;
}
.question-1, .question-3{
  max-width: 565px;
  width: 43.2618683%;
}
.question-2, .question-4{
  max-width: 643px;
  width: 49.2343%;
}
.question__icon{
  margin-bottom: 10px;
}
.question__title{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 24px;
  line-height: 146%;
  color: #4B667C;
  margin-bottom: 15px;
}
.question__text{
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: 16px;
  line-height: 158%;
  color: #3C3C3C;
}

/* Contacts */

.contacts{
  height: 623px;
  width: 100%;
  padding-bottom: 81px;
  padding-top: 81px;
}
.contacts__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts__left-column{
  max-width: 754px;
  width: 57.7335375%;
}
.contacts__right-column{
  max-width: 482px;
  width: 36.9%;
}
.contacts__title{
  margin-bottom: 60px;
}
.contacts__line{
  margin-bottom: 41px;
  display: flex;
  align-items: center;
}
.contacts__line:last-child{
  margin-bottom: 0;
}
.contacts__contact{
  margin-left: 25px;
  text-decoration: none;
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 24px;
  line-height: 146%;
  color: #3C3C3C;
}
.map-container{
  max-width: 754px;
  height: 451px;
}

/* Footer */

.footer{
  width: 100%;
  height: 132px;
  background-color: rgba(217, 152, 106, 0.99);;
}
.footer__wrapper{
  display: flex;
  align-items: center;
  height: 132px;
}
.footer__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 110px;
  padding-right: 110px;
}
.footer a{
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: 13px;
  line-height: 162.69%;
  text-align: center;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.footer__agreement{
  max-width: 223px;
}
.footer__confidential{
  max-width: 234px;
}
.footer__copyright{
  max-width: 194px;
}
.footer__copyright{
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: 13px;
  line-height: 162.69%;
  text-align: center;
  color: #FFFFFF;
}

/* Modal-window */

.modal-window-active{
  position: fixed;
  display: block;
  background-color: #ffffff;
  z-index: 1000020;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 930px;
  width: 48.4375%;
  max-height: 630px;
  height: 61.5234375%;
}
.modal__container{
  padding-top: 78px;
  width: 100%;
  height: 100%;
}
.modal-overlay-active{
  z-index: 1000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}
.modal__close{
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 43px;
  width: 4.62365591397%;
  max-height: 40px;
  height: 6.3492%;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 26px;
  right: 26px;
}
.modal__title{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 250%;
  line-height: 120%;
  text-align: center;
  color: #4B667C;
  text-align: center;
  max-width: 656px;
  width: 70.5376344%;
  margin: 0 auto 38px auto;
}
.modal__form{
  max-width: 312px;
  width: 33.548387%;
  max-height: 341px;
  height: 61.77536231%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-line{
  display: flex;
  flex-direction: column;
}
.modal-button{
  background-color: #4B667C;
  border: 1px solid #4B667C;
  font-family: 'FuturaLightC';
  font-weight: 600;
  font-size: 1.563em;
  line-height: 116%;
  color: #FFFFFF;
  transition: 0.2s;
}
.modal-button:hover{
  background: #2A465C;
  border: 1px solid #2A465C;
}
.modal__submit{
  max-width: 312px;
  width: 100%;
  height: 64px;
}
.modal-thanks__container{
  width: 100%;
  height: 100%;
  padding-top: 108px;
}
.modal-thanks__button{
  position: relative;
  display: block;
  border: none;
  max-width: 26.7857%;
  width: 225px;
  max-height: 19.48%;
  height: 60px;
  margin-left: 36.6666666666%;
  margin-right: 36.6666666666%;
  margin-top: 46px;
}
.modal-thanks-active{
  position: fixed;
  max-width: 840px;
  width: 43.75%;
  max-height: 416px;
  height: 40.625%;
  z-index: 1000020;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-thanks__title{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
  color: #4B667C;
  max-width: 78.57142857%;
  width: 660px;
  height: 96px;
  max-height: 31.168831%;
  margin: 0 auto;

}
.modal-thanks-disabled{
  display: none;
}
.modal-window-disabled{
  display: none;
}
.modal-overlay-disabled{
  display: none;
}

/* responsive */

/* android */

@media (max-width: 767px){
  /* Menu */
  .mobile-nav{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 3px 15px;
    z-index: 99999;
    background-color: #D9986A;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-nav__logo{
    display: block;
    width: 27px;
    height: 23px;
  }
  .mobile-nav__burger{
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: relative;
  }
  .mobile-nav__burger::before{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    transition: 0.2s;
  }
  .mobile-nav__burger::after{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    transition: 0.2s;
  }
  .mobile-menu{
    width: 100%;
    height: 171px;
    z-index: 999999;
    position: fixed;
    top: 30px;
    background-color: #D9986A;
    flex-direction: column;
    padding: 15px 120px;
  }
  .mobile-menu__item{
    text-align: center;
    margin-bottom: 13px;
  }
  .mobile-menu__link{
    text-decoration: none;
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 14px;
    line-height: 132%;
    color: #FFFFFF;
    text-align: center;
  }
  .mobile-menu-active{
    display: flex;
  }
  .mobile-nav__burger-close{
    height: 0;
  }
  .mobile-nav__burger-close::before{
    transform: rotate(45deg);
    top: 0;
    transition: 0.2s;
  }
  .mobile-nav__burger-close::after{
    transform: rotate(-45deg);
    top: 0;
    transition: 0.2s;
  }
  .header__menu{
    display: none;
  }
  .header__menu_fixed{
    display: none;
  }
}