@font-face {
  font-family: 'FuturaLightC';
  src: url('../fonts/FuturaLightC.woff') format('woff'),
       url('../fonts/FuturaLightC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaLightC-italic';
  src: url('../fonts/FuturaLightC-Italic.woff') format('woff'),
       url('../fonts/FuturaLightC-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
*{
  box-sizing: border-box;
}
.container{
  max-width: 1336px;
  /* width: 69.583333%; */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.title{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  color: #4B667C;
}
.button{
  font-family: 'FuturaLightC';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: rgba(217, 152, 106, 1);
  height: 65px;
  width: 285px;
  border: 1px solid #D9986A;
  background-color: transparent;
  transition: 0.5s;
}
.button:hover{
  background-color: #D9986A;
  color: #FFFFFF;
}
/* Header */

.header__container{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.header{
  width: 100%;
  height: 1024px;
}
.header__main-container{
  display: flex;
  flex-direction: row;
}
.header__content{
  display: flex;
  flex-direction: column;
  width: 77.70833333%;
}
.header__content-upper{
  display: flex;
}
.header__section{
  width: 520px;
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  justify-content: flex-start;
  margin-top: 31px;
}
.header__heading{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 176px;
}
.header__phone{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  margin-top: 25px;
  color: #3C3C3C;
}
.header__title{
  color: #4B667C;
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 48px;
  line-height: 73px;
  margin-bottom: 20px;
}
.header__subtitle{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #3C3C3C;
  margin-bottom: 63px;
}
.header__menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #D9986A;
  z-index: -1;
}
.header__menu_fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.header__links{
  display: flex;
  margin-right: 10.92459%;
  margin-left: auto;
}
.header__links_fixed{
  margin-right: auto;
  margin-left: auto;
}
.header__item{
  display: inline-block;
  margin-left: 50px;
  position: relative;
}
.header__item:first-child{
  margin-left: 0;
}
.header__item::before{
  visibility: hidden;
  content: "";
  position: absolute;
  width: 76px;
  height: 14px;
  background-image: url(../img/Header/before.svg);
  background-repeat: no-repeat;
  top: -10px;
  left: -10px;
}
.header__item::after{
  visibility: hidden;
  content: "";
  position: absolute;
  transform: rotate(180deg);
  width: 76px;
  height: 14px;
  background-image: url(../img/Header/before.svg);
  background-repeat: no-repeat;
  bottom: -10px;
  right: -10px;
}
.header__item:hover::before{
  visibility: visible;
}
.header__item:hover::after{
  visibility: visible;
}
.header__link{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.header__sidebar{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* Features */

.features{
  width: 100%;
  height: 864px;
  padding-top: 100px;
}
.features__container{
  width: 100%;
  display: flex;
  height: 669px;
  justify-content: space-between;
}
.features__left-column{
  max-width: 482px;
  width: 36.9%;
  height: 100%;
}
.features__title{
  margin-bottom: 45px;
}
.features__item{
  margin-bottom: 60px;
}
.fetures__item-heading{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.features__subtitle{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #3C3C3C;
  margin-left: 20px;
}
.features__subtitle-3{
  margin-left: 30px;
}
.features__description{
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #3C3C3C;
  margin-left: 60px;
}
.features__img{
  max-width: 769px;
  width: 58.882%;
  height: auto;
  object-fit: cover;
}

/* Offers */

.offers{
  padding-top: 98px;
  width: 100%;
  height: 1028px
}
.offers__title{
  margin-bottom: 63px;
}
.arrow{
  background-image: url(../img/Offers/Arrow.png);
  background-repeat: no-repeat;
  width: 137px;
}
.swiper-container-s1{
  height: 795px;
}
.swiper-slide{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.swiper-right-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30.9119%;
  margin-top: 100px;
  height: 561px;
}
.swiper-slide__img-container{
  max-width: 800px;
  width: 61.8238%;
}
.swiper-slide__img{
  width: 100%;
  object-fit: cover;
}
.swiper-slide__upper{
  text-transform: uppercase;
  font-family: 'FuturaLightC';
  font-weight: 300;
  font-size: 90px;
  line-height: 99px;
  text-transform: uppercase;
  color: rgba(217, 152, 106, 0.5);
}
.swiper-slide__lower{
  font-family: 'FuturaLightC';
  font-weight: 300;
  font-size: 90px;
  line-height: 150%;
  text-transform: uppercase;
  color: rgba(217, 152, 106, 0.5);
}
.list1, .list2, .list3{
  list-style: disc;
}
.list__item{
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: 18px;
  line-height: 250%;
  color: #000000;
}
.list__item-2{
  line-height: 220%;
}
.list__item-3{
  line-height: 200%;
}
.slider-pagination{
  width: 110px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.slider-bullet{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #F7E9DF;
  border-radius: 50%;
  margin-left: 25px;
}
.slider-bullet:first-child{
  margin-left: 0;
}
.slider-bullet-active{
  width: 20px;
  height: 20px;
  background-color: #ECCCB5;
  border-radius: 50%;
}

/* Calculation */

.calculation{
  padding-top: 191px;
  padding-bottom: 156px;
}
.calculation__form{
  max-width: 735px;
  width: 56.2787%;
}
.calculation__container{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.calculation__title{
  margin-bottom: 46px;
}
.form__inputs{
  display: flex;
  max-width: 735px;
  width: 100%;
}
.form__paragraph{
  max-width: 312px;
  width: 42.448979%;
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa';
  font-weight: 300;
  font-size: 13px;
  line-height: 14px;
  color: #3C3C3C;
  margin-top: 35px;
}
.form__paragraph_left{
  margin-right: 40px;
}
.form__input{
  max-width: 312px;
  width: 100%;
  height: 45px;
  border: 1px solid #3C3C3C;
  background-color: transparent;
  margin-top: 5px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #4B667C;
}
.form__button{
  max-width: 312px;
  width: 100%;
  height: 64px;
  background-color: #4B667C;
  border: 1px solid #4B667C;
  font-family: 'FuturaLightC';
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  transition: 0.2s;
}
.form__button:hover{
  background: #2A465C;
  border: 1px solid #2A465C;
}
option{
  margin-top: 22px;
}
.gallery{
  max-width: 541px;
  width: 41.424196%;
}
.swiper-container-s2{
  max-width: 541px;
}
.gallery__image{
  max-width: 541px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* faq */

.faq{
  width: 100%;
  height: 793px;
}
.faq__container{
  width: 100%;
  height: 793px;
  background-image: url(../img/faq/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.faq__content{
  padding-top: 166px;
  width: 100%;
}
.faq-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.faq-row:first-child{
  margin-bottom: 65px;
}
.question-1, .question-3{
  max-width: 565px;
  width: 43.2618683%;
}
.question-2, .question-4{
  max-width: 643px;
  width: 49.2343%;
}
.question__icon{
  margin-bottom: 10px;
}
.question__title{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 24px;
  line-height: 146%;
  color: #4B667C;
  margin-bottom: 15px;
}
.question__text{
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: 16px;
  line-height: 158%;
  color: #3C3C3C;
}

/* Contacts */

.contacts{
  height: 451px;
  width: 100%;
}
.contacts__container{
  padding-top: 81px;
  display: flex;
  justify-content: space-between;
}
.contacts__left-column{
  max-width: 754px;
  width: 57.7335375%;
}
.contacts__right-column{
  max-width: 482px;
  width: 36.9%;
}
.contacts__title{
  margin-bottom: 60px;
}
.contacts__line{
  margin-bottom: 41px;
  display: flex;
  align-items: center;
}
.contacts__line:last-child{
  margin-bottom: 0;
}
.contacts__contact{
  margin-left: 25px;
  text-decoration: none;
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 24px;
  line-height: 146%;
  color: #3C3C3C;
}
.contacts__line a:hover{
  
}